body {
    font-family: Arial;
    background: #f0f8ff;
    margin: 0;
    padding: 0;
}

header {
    background: #0077b6;
    padding: 20px;
    color: white;
    text-align: center;
}

.calculator {
    width: 350px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

input,
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: #0077b6;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    background: #e3f2fd;
    padding: 10px;
    border-radius: 5px;
}